<section class="table-section">
    <button id="get-button" (click)="getMovies()">Get movie List</button>
    <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Category</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let movie of movies" class="table-row">
            <td>{{ movie.title}}</td>
            <td>{{ movie.year}}</td>
            <td>{{ movie.category}}</td>
          </tr>
        </tbody>
    </table>
</section>
